@model HelloMVCWorld.Models.Movie
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

@*@section Footer {
    <span>
        Hello from the <b>Home</b> page!
    </span>
}*@

<p>The movie <b>@Model.Title</b> was released @Model.ReleaseDate.ToLongDateString()</p>
@for (int i = 0; i < 3; i++)
    {
@await Html.PartialAsync("_Greeting", Model, new ViewDataDictionary(ViewData) { { "index", i } })
    }
